@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "Krub-bold"; 
    // адрес шрифта и тип 
    src: url("@/assets/fonts/Krub-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
} 
@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "Krub-regular"; 
    // адрес шрифта и тип
    src: url("@/assets/fonts/Krub-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: regular;
} 
@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "Krub-semibold"; 
    // адрес шрифта и тип 
    src: url("@/assets/fonts/Krub-SemiBold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: semibold; 
} 
@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "Montserrat-Bold"; 
    // адрес шрифта и тип 
    src: url("@/assets/fonts/Montserrat-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: Bold; 
} 
@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "Montserrat-Regular"; 
    // адрес шрифта и тип
    src: url("@/assets/fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
} 
@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "Montserrat-Medium"; 
    // адрес шрифта и тип 
    src: url("@/assets/fonts/Montserrat-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: Medium; 
} 